.card-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 15px;
    column-gap: 15px;
    width: 100%;
}

body {
    background-color: rgb(255, 243, 212);
}
.card.big {
    background-color: #fff;
    border-radius: 0.25rem;
    box-shadow: 0rem 0.125rem 1.5rem rgb(0 0 0 / 12%);
    width: 24rem;
  }
  
  img {
    border-bottom: 0.25rem solid #fc0;
    border-radius: 0.25rem 0.25rem 0 0;
    height: auto;
    width: 100%;
  }
  
  /* Mobile */
  @media screen and (min-width: 768px) {
    img {
      min-height: 15.5rem;
    }
  }

  /* Tablet */
  @media screen and (min-width: 768px) {
    img {
      min-height: 50%;
    }
  }

/* Desktop */
  @media screen and (min-width: 1200px) {
    img {
      min-height: 33%;
    }
  }
  
  .card.big {
    width: 100%;
}
  
  .card-content {
    padding: 1rem;
  }
  
  .header,
  .subheader {
    margin: 0;
  }
  